<div class="m-4">
    <div *ngIf="deleteSucessMessage" class="alert alert-success" role="alert">
        {{deleteSucessMessage}}
    </div>

    <div *ngIf="deleteErrorMessage" class="alert alert-success" role="alert">
        {{deleteErrorMessage}}
    </div>
    <ng-container *ngIf="customers | async as listCustomers; else failedOrLoading">
        <div>
            <div class="d-flex align-items-center gap-2">
                <form *ngIf="searchFormGroup" [formGroup]="searchFormGroup" (ngSubmit)="searchForCustomer()" class="d-flex flex-grow-1 align-items-center gap-2">
                    <label for="" class="form-label flex-shrink-0">Entrez un nom ou partie du nom</label>
                    <input type="text" class="form-control" formControlName="keyword">
                    <button class="btn btn-primary"><i class="bi bi-search"></i></button>
                </form>

                <button class="btn btn-success" routerLink="/new-customer"><i class="bi bi-plus"></i></button>
            </div>
            
            <table class="table table-striped" *ngIf="customers">
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>Nom</td>
                        <td>E-Mail</td>
                        <td>Delete</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let c of listCustomers">
                        <td>{{c.id}}</td>
                        <td>{{c.name}}</td>
                        <td>{{c.email}}</td>
                        <td><button class="btn btn-danger" (click)="deleteCustomer(c)"><i class="bi bi-trash"></i></button></td>
                    </tr>
                </tbody>
            </table>   
        </div>

    </ng-container>
    

    <ng-template #failedOrLoading>
        <ng-container *ngIf="errorMessage; else loading">
            <div class="alert alert-danger">
                <p>{{errorMessage}}</p>
            </div>
        </ng-container>
        <ng-template #loading>
            <div class="alert alert-primary" role="alert">
                Loading
            </div>
        </ng-template>
    </ng-template>
</div>