<div class="m-4">
    <div *ngIf="errorMessage" class="alert alert-danger">
        <p>{{errorMessage}}</p>
    </div>
    <table class="table table-striped" *ngIf="customers">
        <thead>
            <tr>
                <td>ID</td>
                <td>Nom</td>
                <td>E-Mail</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of customers">
                <td>{{c.id}}</td>
                <td>{{c.name}}</td>
                <td>{{c.email}}</td>
            </tr>
        </tbody>
    </table>
</div>